* {
  box-sizing: border-box;
}

p {
  font-size: 25px;
  margin: auto 0;
}
.results {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: #4a9fb4;
}

.flex {
  display: flex;
}

.variables, .functions {
  margin: 15px 15px;
  justify-content: space-evenly;
  align-items: center;
}

.variableNames {
  margin-left: 10px;
}
.functionNames {
  margin-left: 10px;
}
.variablesWrapper, .functionsWrapper  {
  flex-direction: column;
  justify-content: flex-start;
}

.variablesWrapper p, .functionsWrapper p{
  padding: 10px 0;

}
.variablesWrapper2, .functionsWrapper2 {
  flex-direction: column;
  justify-content: flex-end;
}
.variableNames, .variableCount, .functionNames, .functionCount {
  font-size: 20px;
}
button {
    outline: none;
    background-color: green;
  }
  #upload{
      color:white;
      background-color:white;
      font-family: Menlo, Monaco, source-code-pro, "Ubuntu Mono", "DejaVu sans mono", Consolas, monospace;
      text-align:right;
  }
  #file-input {
    height:25px;
    width: 50%;
  }
  #run-code {
    height: 30px;
    width: 50%;
    border: 2px solid #eee;
    border-radius: 5px;
    background-color: #7bb8cd;
    box-shadow: 2px 2px 2px #ddd;
    cursor: pointer;
  }

  #console{
      color:white;
      background-color:black;
      font-family: Menlo, Monaco, source-code-pro, "Ubuntu Mono", "DejaVu sans mono", Consolas, monospace;
      font-size: 16px;
      height: 500px;
      width:100%;
      vertical-align: top;
      resize: none;
  }
